[flake8]
ignore =
    # D100 Missing docstring in public module
    D100,
    # D101 Missing docstring in public class
    D101,
    # D102 Missing docstring in public method
    D102,
    # D103 Missing docstring in public function
    D103,
    # D104 Missing docstring in public package
    D104,
    # D105 Missing docstring in magic method
    D105,
    # D106 Missing docstring in public nested class
    D106,
    # D107 Missing docstring in __init__
    D107,
    # D203 1 blank line required before class docstring
    D203,
    # D213 Multi-line docstring summary should start at the second line
    D213,
    # E203 whitespace before ':' - not PEP8 compliant!
    E203,
    # W503 line break before binary operator
    W503,
    # W504 line break after binary operator
    W504,
    # E501 Long literals which Black can't split
    E501,
    # G004 Logging statements should not use f"..." for their first argument
    G004,
max-complexity = 10
max-line-length = 99
enable-extensions = G
exclude = .git .eggs __pycache__ .pytest_cache data docs
# format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
