repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
        # exclude: data/  # if the checks would be too slow, maybe also add to checks below
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: [--config, .flake8, --benchmark]
        additional_dependencies: [
          flake8-bugbear==23.2.13,
          flake8-logging-format==0.9.0,
          flake8-absolute-import==1.0.0.1,
          flake8-breakpoint==1.1.0,
          flake8-colors==0.1.9,
          flake8-comprehensions==3.10.1,
          flake8-docstrings==1.7.0,
          flake8-eradicate==1.4.0,
          flake8-plugin-utils==1.3.2,
          flake8-print==5.0.0,
          flake8-polyfill==1.0.2,
          flake8-unused-arguments==0.0.13,
          flake8-use-fstring==1.4
        ]
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies:
          - tomli==2.0.1
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli==2.0.1

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--settings-path=pyproject.toml, --filter-files]
  - repo: https://github.com/python/black
    rev: 23.1.0
    hooks:
      - id: black
        # Configuration needs to be explicit because of https://github.com/psf/black/issues/2863
        args: [--config, pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
      - id: mypy
        name: mypy
        additional_dependencies: [
          importlib_resources==5.12.0,
          more_itertools==9.1.0,
          numpy==1.24.2,
          pandas-stubs==1.5.3.230227,
          pytest-mock==3.10.0,
          pytest-stub==1.1.0,
          types-dataclasses==0.6.6,
          types-Pillow==9.4.0.17,
          types-setuptools==67.4.0.3,
          types-tabulate==0.9.0.1
        ]
        args: []
        language: python
        types: [python]
